* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  outline: 1px solid red;
  background-color: #1f2937;
  color: #f9faf8;
}

nav.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15%;
}
li {
  display: inline-flex;
  text-decoration: none;
  justify-content: space-between;
  padding: 0 5vw;
}
a {
  font-size: 20px;
  color: #cecfd2;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  font-size: 24px;
  cursor: pointer;
  font-weight: bolder;
}

/* Next section */

.container1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 15%;
  height: 20vw;
}

h2.header1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
}
p.header1 {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
}
button.signup {
  background-color: #3882f6;
  padding: 0.5vw 2vw;
  border-radius: 0.5vw;
  font-weight: bold;
}
.box_left {
  flex: 1 1 0px;
}
p.placeholder {
  background-color: #cecfd248;
  color: rgba(255, 255, 255, 0.408);
  flex: 1 1 0px;
  padding: 71px 2vw;
  text-align: center;
}

/* NEXT SECTION */
h2.info {
  text-align: center;
  padding: 1.5vw;
  color: #7c95b8;
}

.box_container{
  display: flex;
  justify-content: center;
  flex-basis:;
}
.square{
  width: 50px;
  height:50px;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;

}