* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1f2937;
  color: #f9faf8;
  outline: 1px solid red;
}

nav.menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15%;
  
}

li {
  display: inline-flex;
  text-decoration: none;
  justify-content: space-between;
  padding: 0 5vw;
}
a {
  font-size: 20px;
  color: #cecfd2;
  text-decoration: none;
  cursor: pointer;
}

.logo {
  font-size: 36px;
  cursor: pointer;
  font-weight: bolder;
}

/* Next section */

.container1 {
  display: flex;
  align-items: center;
  padding: 30px 15%;
  height: 31vw;

  
}

h2.header1 {
  font-size: 48px;
  font-weight: bold;
  color: #f9faf8;
  
  
  
}
p.header1 {
  font-size: 18px;
  color: #e5e7eb;
  font-weight: normal;
  
  
}
button.signup {
  background-color: #3882f6;
  padding: 0.5vw 2vw;
  border-radius: 0.5vw;
  font-weight: bold;
  border-color: #3882f6;
  cursor: pointer;
  
}
.box_left {
  flex: 1 1 0px;
  
}
p.placeholder {
  background-color: #cecfd248;
  color: rgba(255, 255, 255, 0.408);
  flex: 1 1 0px;
  padding: 71px 2vw;
  text-align: center;
}

/* NEXT SECTION */
h2.info {
  text-align: center;
  font-size: 36px;
  padding: 1.5vw;
  color: #1f2937;
  background-color: white;
}
.squares {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 25% 10%;
  height: 20vw;
  margin-bottom: -50px;
  background-color: white;
}
.square {
  height: 150px;
  width: 150px;
  border: 6px solid #3882f6;
  border-radius: 1vw;
  background-color: white;
}
p.description {
  background-color: WHITE;
  color: #47484873;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: end;
  text-align: center;
  margin-top: 160px;
}
p.cite,
blockquote,
i {
  background-color: #EBE7EB;
  color: rgba(0, 0, 0, 0.632);
  text-align: center;
  font-size: 36px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 15%;
}
cite,
b {
  background-color: #EBE7EB;
  color: rgba(3, 3, 3, 0.632);
}
b {
  display: flex;
  justify-content: flex-end;
  font-size: 40px;
  padding: 20px 30%;
  font-weight: bolder;
}
.contact{
  height: 20vw;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 15%;
  
}
.frame{
  display: flex;
  padding: 50px 20%;
  justify-content: space-between;
  margin-top:7%;
  border-radius: 1vw;
  background-color: #3882f6;
}
h2.call, br, p.enroll, .signup2, .enroll{
   background-color: #3882f6; 
   
}
.signup2{
  background-color: #3882f6;
  padding: 0.5vw 2vw;
  border-radius: 0.5vw;
  font-weight: bold;
  border-color: white;
  font-size: 18px;
  cursor: pointer;
}
h2.call{
   font-size: 30px; 
}
p.enroll{
  font-size: larger;
}
footer{
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
}
